{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Sobre o sistema{% endblock %}</h1>
{% endblock %}

{% block content %}
Um sistema de tarefas eficaz visa organizar e priorizar atividades pessoais e profissionais de forma clara e acessível. Ele permite o acompanhamento do progresso das tarefas, envia notificações para prazos próximos, facilita a colaboração entre usuários, integra-se com calendários, oferece opções de personalização, fornece relatórios sobre produtividade e garante segurança e privacidade das informações. Esses recursos visam aumentar a eficiência e ajudar os usuários a gerenciar melhor seu tempo e suas responsabilidades diárias.
{% endblock %}