{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Listagem de tarefas{% endblock %}</h1>
{% endblock %}

{% block content %}
  
<p>
    <a href="{{ url_for("form_adicionar_tarefas") }}">Cadastrar nova tarefa</a>
</p>

<table border="1" style="margin: auto;">
    <tr>
        <td style="margin: 15px;">Nome da tarefa</td>
        <td style="margin: 15px;">Objetivo da tarefa</td>
        <td style="margin: 15px;">Concluida ou não concluida</td>
        <td style="margin: 15px;">Data da Tarefa</td>
        <td style="margin: 15px;">Pessoa Responsável</td>
    </tr>

    {% for p in tarefas %}
    <tr>
        <td style="margin: 15px;">{{p.nomeDaTarefa}}</td>
        <td style="margin: 15px;">{{p.objetivoDaTarefa}}</td>
        <td style="margin: 15px;">{{p.concluidaOuNaoConcluida}}</td>
        <td style="margin: 15px;">{{p.dataDaTarefa}}</td>
        <td style="margin: 15px; padding: 15px;">{{p.pessoaResponsavel}}<td>
    </tr>
    {% endfor %}
   
</table>

{% endblock %}
